* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.container {
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}

.col-half {
  width: 50%;
}

.resize {
  width: 80%;
  height: 80%;
}
